body {
    background-color: #000;
    font-family: 'Montserrat', sans-serif;
}

#card2 {
    height: 46%;
}

#formulario {
    background-color: #000;
}

.icon {
    text-align: center;
    height: 30px;
    font-size: 30px;
}

footer {
    height: 75px;
    font-size: 25px;
    padding-top: 21px;
}

a:visited {
    color:#ffffff;
}

